<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%=aircraft.msn%></h1>
        <div>
            MSN: <%=aircraft.msn%><br/>
            <!--Aircraft-->
            Aircraft Model: <%=aircraft.aircraft.aircraft_model%><br/>
            Engine Model: <%=aircraft.aircraft.engine_model%><br/>
            ESN1: <%=aircraft.aircraft.esn1%><br/>
            ESN2: <%=aircraft.aircraft.esn2%><br/>
            ESN3: <%=aircraft.aircraft.esn3%><br/>
            ESN4: <%=aircraft.aircraft.esn4%><br/>
            Manufactured Date: <%=aircraft.aircraft.manufactured_date%></br>
            <!--Lease-->
            Status: <%=aircraft.lease.status%><br/>
            Sub Status: <%=aircraft.lease.sub_status%><br/>
            Lessee: <%=aircraft.lessee.name%><br/>
            <!--Accounting-->
            NBV: <%=aircraft.accounting.nbv%><br/>
            <br/>
            <br/>
        </div>
    </body>
</html>

