<!DOCTYPE html>
<html>
    <head>
        <title>Lessees</title>
        <% include ../partials/head.ejs %>
        <link rel="stylesheet" href="../main.css" />
    </head>
    <body>
        <% include ../partials/navbar.ejs %>

        <!--header-->
        <div class="Header-banner">
            <h1 id="header">Lessees</h1>
        </div>
        <!--login area-->
        <div class="login">
        <% if(currentUser) { %>
            <p>Welcome <%=currentUser.username%>!</p>
            <form action="/sessions?_method=DELETE" method="POST">
                <button type="submit" style="border:none; background-color:Transparent; color:rgb(218, 218, 218)"><i
                    class="material-icons" style="font-size:16px">exit_to_app</i></button>
            </form>
        <% } else { %>
            <a href="/users/new" style="margin-right: 20px">Sign Up</a>
            <a href="/sessions/new">Log In</a>
        <% } %>
        </div>
        <!--end of header-->
        
        <!--start of dashboard page-->
        <div class="container">
        
        <!--lessee table-->
            <div class="portfolioTable-box">
                <table id="allAircraftTable" style="width:100%">
                    <thead>
                        <tr>
                            <th style= "width:300px"><a href="/lessee/new">Lessee +</a></th>
                            <th style= "width:300px">Country</th>
                            <th style= "width:220px">Credit Rating</th>
                            <th style= "width:220px"># Aircraft</th>
                            <th colspan="2">Action</div></th>
                            
                        
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i < lessee.length; i++){ %>
                        <tr>
                            <td style= "width:300px"><a href="/lessee/<%=lessee[i].id%>"><%=lessee[i].name%></a></td>
                            <td style= "width:300px"><%=lessee[i].country%></td>
                            <td style= "width:220px"><%=lessee[i].credit_rating%></td>
                            <% let aircraftCount =0 %>
                            <% for (let j=0; j < aircraft.length; j++){ %>
                                <% if( String(aircraft[j].lessee._id) == String(lessee[i]._id) ){ %>
                                    <% aircraftCount += 1%>
                                <%} %>
                            <% } %>
                            <td style= "width:220px"><%=aircraftCount%></td>
                            <td><a href="/lessee/<%=lessee[i].id%>/edit" class="button"><i class="material-icons">edit</i></a></td>
                            <td>
                                <form action="/lessee/<%=lessee[i].id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="deletebutton" style="border:none; background-color:Transparent" ><i class="material-icons">delete</i></button> 
                                </form>
                            </td>
                            
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                
            </div>
            <!--HbarChart-->
            <div class="lesseeConc-box">
                <h2>Top 5 Lessees</h2>
                <p style="text-align:center">by NBV(US$m)</p></br>
                <div class="lesseeConc-chartContainer">
                    <canvas id="lesseeConcChart">
                    </canvas>
                </div>
            </div>
            <!--pieChart-->
            <div class="country-box">
                <h2>Top 5 Countries</h2>
                <p style="text-align:center">by NBV(US$'m)</p></br>
                <div class="country-chartContainer">
                    <canvas id="countryChart">
                    </canvas>
                </div>
               
            </div>
            
            

        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="/all.js"></script>
        <script type="text/javascript">
            let allLessee = <%-JSON.stringify(lessee)%>;
            let allAircraft = <%-JSON.stringify(aircraft)%>;
            
            let lesseeMap = [];
            for (let i=0; i< allLessee.length; i++){
                lesseeMap.push({"arrayId":i, "id": allLessee[i]._id, "name": allLessee[i].name, "country": allLessee[i].country})
            }

            var lesseeConc = {};
            //map database into object of key value : summation
            allAircraft.forEach(function(x,i){
            //sumif formula ---- sum nbv for each key value (key value = lessee id)
                lesseeConc[x.lessee] = (lesseeConc[x.lessee] || 0) + parseInt(allAircraft[i].accounting.nbv/1000000);
            });
            console.log(lesseeConc);

            let sortedlesseeConc = Object.entries(lesseeConc).sort((a,b) => b[1] - a[1]);
            sortedlesseeConc = sortedlesseeConc.slice(0,5);
            console.log(sortedlesseeConc);

            let Y_lesseeNBV= [];
            let X_lesseeID= [];
            let X_lesseeName= [];
            let X_lesseeCountry =[];
            for (let i=0; i<sortedlesseeConc.length; i++){
                X_lesseeID.push(sortedlesseeConc[i][0]);
                for (let j=0; j<lesseeMap.length; j++){
                    if(X_lesseeID[i]===lesseeMap[j].id){
                        X_lesseeName.push(lesseeMap[j].name);
                        X_lesseeCountry.push(lesseeMap[j].country);
                    }
                }
                Y_lesseeNBV.push(sortedlesseeConc[i][1]);
            };
            console.log(Y_lesseeNBV);
            console.log(X_lesseeID);
            console.log(X_lesseeName);
            console.log(X_lesseeCountry);

            plotHBarChart((Y_lesseeNBV),(X_lesseeName),'lesseeConcChart');

            let X_country= [];
            let Y_sumNBV= [];
            let sumNBV = 0;


            var conc = [];
            for (let i=0; i<X_lesseeID.length; i++){
                conc.push({'lessee': X_lesseeName[i], 'country': X_lesseeCountry[i], 'nbv':Y_lesseeNBV[i] })
            }

            conc.sort(function(a,b){
                return ((a.nbv > b.nbv)? -1: ((a.nbv == b.nbv) ? 0:1 ));
            })

            //plotCountryConc

            var countryConc = {};
            conc.forEach(function(x,i){
                countryConc[x.country] = (countryConc[x.country] ||0 ) + parseInt(conc[i].nbv);
            });
            console.log(countryConc);
            let sortedCountryConc = Object.entries(countryConc).sort((a,b) => b[1] - a[1]);
            sortedCountryConc = sortedCountryConc.slice(0,5);
            console.log(sortedCountryConc);
            
            let Y_countryNBV = [];
            for (let i=0; i<sortedCountryConc.length; i++){
                X_country.push(sortedCountryConc[i][0]);
                Y_countryNBV.push(sortedCountryConc[i][1]);
            };

            plotPieChart(Y_countryNBV,X_country,'countryChart');
        
        
       </script>
    </body>
</html>